.btnSeagate
{
  background-color: #6EBE4A;
  color: white;
}
.btnSeagate:hover
{
  background-color:#4E8C38;
  color: white;
}
.backscreen
{
  background-color: rgba(0,0,0,0.5);
}

.navbar
{
  height: 4.5rem;
}

#search-bar
{
  height: 25px;
  border-radius: 25px;
}

.bg-black
{
  background-color:#161B1F;
  color: white;
}
#nav
{
  height: 3.5rem;
}

#nav-link
{
  color: #868589;
  padding: auto 1rem;
  align-self: center;
}
#nav-link:hover
{
  color: #6EBE4A;
}

.carousel-item
{
  height: 412px;
  width: 100%;
  
  background-size: cover;
  background-position: center;
}

#carousel-item-1
{
  background-image: url("../img/banner-home-2000x412.jpg");
}
#carousel-item-2
{
  background-image: url("../img/fast-ssd.jpg");
}
#carousel-item-3
{
  background-image: url("../img/seagate-dji-fly-drive-2000x412.jpg");
}

.hero-caption
{
  color: white;
  align-items: center;
  height: 100%;
}